                                <a href="<%=request.getContextPath()%>/roomController/getAllRoom.htm" >Quản lí sản xuất</a>
                                <a href="<%=request.getContextPath()%>/studentController/getAllStudent.htm" >Quản lí Kho</a>
                                <a href="<%=request.getContextPath()%>/serviceController/getAllService.htm" >Quản lí điều hành</a>
                                <a href="<%=request.getContextPath()%>/SUController/getAllSU.htm" >Nhân viên thiết kế</a>
                                <a href="<%=request.getContextPath()%>/roomController/getAllRoom.htm" >Quản lí tài khoản</a>