<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/hdx/save_add}" th:object="${hdx}">
		<table border="0" cellpadding="10">
				<td><input type="hidden" th:field="*{id}" /></td>
				
                <tr>
                    <td>Ngay Xuat:</td>
                    <td><input type="text" th:field="*{ngayXuat}" required/></td>
                </tr>
                <tr>
                    <td>Bo Phan:</td>
                    <td><input type="text" th:field="*{bophans.id}" required/></td>
                </tr>
                <tr>
                    <td>Nguyen Vat Lieu:</td>
                    <td><input type="text" th:field="*{nvls.id}" required/></td>
                </tr>
                <tr>
                    <td>Don Vi:</td>
                    <td><input type="text" th:field="*{donvi}" required/></td>
                </tr>
                <tr>
                    <td>So Luong:</td>
                    <td><input type="number" th:field="*{soLuong}" min="1" required /></td>
                </tr>
                
                <tr>
                    <td colspan="2"><button type="submit">Save</button>
                </tr>
            </table>
	</form>
</body>
</html>